## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Node / Tauri
node_modules/
dist/
src-tauri/target/
src-tauri/gen/

## Local hooks
.husky/pre-push

## agent文档
PLAN.md
PROGRESS.md
AGENTS.md
CLAUDE.md
.codex

## IDE
.idea/
*.swp
*~

## OS
Thumbs.db
Desktop.ini
.DS_Store

## Design
*.psd
*.ai
*.icon
src-tauri/icons/macOS

## Temp
temp/
